<div class="footer-container">
	<div class="footer">
		<div class="medium-6 columns">
			&copy;2015 Changed - Design and Development for a Purpose&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/DesignChanged" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://twitter.com/designchanged" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span ng-show="footer.twitter.ui.showFeed">Feed</span>
			<span ng-show="footer.twitter.ui.showNone">None</span>
			<span ng-show="footer.twitter.ui.showError">Error</span>
		</div>
		<div class="medium-6 columns text-right">
			<img src="assets/images/changed-logo-white.png" alt="Changed" width="200" />
		</div>
	</div>
</div>