<div class="nav-panel">
	<div class="element nav-menu-button nav-animate-background" ui-sref="home">
		<!-- <div class="hamburger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<div class="icon ng-hide"><i class="fa icon-chevron-left"></i></div> -->
		<div class="text">&nbsp;</div>
		<div class="icon">
			<div class="hamburger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
			<i class="fa icon-chevron-left ng-hide"></i>
		</div>
	</div>
	<div class="element who-we-are" ui-sref="whoWeAre">
		<div class="text">WHO WE ARE</div>
		<div class="icon"><i class="fa icon-account-circle"></i></div>
	</div>
	<div class="element our-work" ui-sref="ourWork">
		<div class="text">OUR WORK</div>
		<div class="icon"><i class="fa icon-favorite"></i></div>
	</div>
	<div class="element contact-us" ui-sref="contactUs">
		<div class="text">CONTACT US</div>
		<div class="icon"><i class="fa icon-email"></i></div>
	</div>
</div>