<nav class="nav-main collapsed">

	<!-- Who We Are -->
	<div class="content custom-scrollbar fx-fade-up" custom-scrollbar="#ffffff" max-height="100%" ng-show="'who-we-are' === nav.current">
		<div class="row">
			<div class="medium-12 columns">
				<h5 class="large-margin-bottom">WHO WE ARE</h5>
			</div>
		</div>
		<div class="row xlarge-margin-bottom">
			<div class="medium-6 columns">
				<p>Changed is a multifunctional creative and application development agency, founded with the intention to not only complete work but to create success and <strong>DESIGN WITH A PURPOSE</strong>.</p>
				<p>We love to sit down with our customers and learn about their business, become passionate about their purpose. We feel that this approach allows us to apply our creativity and talents to produce successful results.</p>
				<p>Our work is better for it and has stories to tell. We will work to engage, inform and entice a response from your end-customers through meaningful and interesting ways.</p>
			</div>
			<div class="medium-6 columns">
				<p>From website design to application development and beyond, if you have a project that you think we can help you with or an idea that you would like to discuss and see come to life, we would love to hear from you. <a ng-click="nav.current = 'contact-us'">Contact us</a> today to get started.</p>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">
				<h5 class="large-margin-bottom">MEET OUR (small but capable) TEAM</h5>
			</div>
		</div>
		<div class="row" vertilize-container>
			<div class="medium-3 columns thumb-container clickable medium-margin-bottom" ng-repeat="member in nav.team" ng-class="{ end: $index === nav.team.length - 1 }">
				<div class="thumb-graphic">
					<img ng-src="{{member.thumb}}" alt="{{member.name}}" />
					<div class="thumb-overlay">&nbsp;</div>
					<div class="thumb-icon">
						<i class="fa icon-link fa-2x"></i>
					</div>
				</div>
				<div class="thumb-header medium-margin-top text-center" vertilize>
					<p class="no-margin-bottom" ng-bind="member.name"></p>
					<p><small ng-bind="member.role"></small></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Who We Are -->

	<!-- Our Work -->
	<div class="content custom-scrollbar fx-fade-up" custom-scrollbar="#ffffff" max-height="100%" ng-show="'our-work' === nav.current">
		<div class="row">
			<div class="medium-12 columns">
				<h5 class="large-margin-bottom">OUR WORK</h5>
			</div>
		</div>
		<div class="row" vertilize-container>
			<div class="medium-4 columns thumb-container clickable medium-margin-bottom" ng-repeat="item in nav.work" ng-class="{ end: $index === nav.work.length - 1 }">
				<div class="thumb-graphic">
					<img ng-src="{{item.thumb}}" alt="{{item.client}}" />
					<div class="thumb-overlay">&nbsp;</div>
					<div class="thumb-icon">
						<i class="fa icon-link fa-2x"></i>
					</div>
				</div>
				<div class="thumb-header medium-margin-top text-center" vertilize>
					<p class="no-margin-bottom" ng-bind="item.client"></p>
					<p><small ng-bind="item.skills"></small></p>
				</div>
			</div>
		</div>
	</div>
	<!-- End Our Work -->

	<!-- Contact Us -->
	<div class="content custom-scrollbar fx-fade-up" custom-scrollbar="#ffffff" max-height="100%" ng-show="'contact-us' === nav.current">
		<div class="row">
			<div class="medium-12 columns">
				<h5 class="large-margin-bottom">CONTACT US</h5>
			</div>
		</div>
		<div class="row">
			<div class="medium-6 columns large-margin-bottom">
				<h4 class="medium-margin-bottom"><i class="fa icon-phone fa-lg"></i>&nbsp;&nbsp;&nbsp;<a href="tel:18037921043">+1-803-792-1043</a></h4>
				<p>GENERAL INQUIRIES<br /><a href="mailto:info@designchanged.us">info@designchanged.us</a></p>
				<p>SUPPORT REQUESTS<br /><a href="mailto:info@designchanged.us">support@designchanged.us</a></p>
				<p>ACCOUNTS INQUIRIES<br /><a href="mailto:info@designchanged.us">accounts@designchanged.us</a></p>
			</div>
			<div class="medium-6 columns">
				<h4 class="medium-margin-bottom"><i class="fa icon-devices fa-lg"></i>&nbsp;&nbsp;&nbsp;Send Us a Message.</h4>
				<dynamic-form class="row" name="nav.contact.form.data" ng-model="nav.contact.form.model" template="nav.contact.form.template" novalidate ng-submit="nav.contact.send.exec()"></dynamic-form>
			</div>
		</div>
	</div>
	<!-- End Contact Us -->

</nav>