// Table of Contents
// Foundation Settings
//
// a. Base
// b. Grid
// c. Global
// d. Media Query Ranges
// e. Typography
// 01. Accordion
// 02. Alert Boxes
// 03. Block Grid
// 04. Breadcrumbs
// 05. Buttons
// 06. Button Groups
// 07. Clearing
// 08. Dropdown
// 09. Dropdown Buttons
// 10. Flex Video
// 11. Forms
// 12. Icon Bar
// 13. Inline Lists
// 14. Joyride
// 15. Keystrokes
// 16. Labels
// 17. Magellan
// 18. Off-canvas
// 19. Orbit
// 20. Pagination
// 21. Panels
// 22. Pricing Tables
// 23. Progress Bar
// 24. Range Slider
// 25. Reveal
// 26. Side Nav
// 27. Split Buttons
// 28. Sub Nav
// 29. Switch
// 30. Tables
// 31. Tabs
// 32. Thumbnails
// 33. Tooltips
// 34. Top Bar
// 36. Visibility Classes


// - - - - - - - - - - - - - - - - - - - - - - - - -
// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import "foundation/scss/foundation/functions";

// These are defined here in pixel values in order to keep compass from showing warnings in the grunt build
$base-font-size: 16px; // Browser default
$base-line-height: 24px; // Browser default

// Foundation rem-base
$rem-base: $base-font-size;


// - - - - - - - - - - - - - - - - - - - - - - - - -
// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Font Awesome font path
$fa-font-path: "http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts"; // for referencing Bootstrap CDN font files directly

// Default font stacks
$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

// Default colors
$primary-color: #E21F26;								// Super Red
$alert-color: #E21F26;									// Super Red

// Helper colors
$white: #ffffff;
$black: #000000;

// Border radius
$global-radius: 4px;


// - - - - - - - - - - - - - - - - - - - - - - - - -
// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Paragraphs
$paragraph-font-size: rem-calc(18);