// Table of Contents
// Foundation Settings
//
// a. Base
// b. Grid
// c. Global
// d. Media Query Ranges
// e. Typography
// 01. Accordion
// 02. Alert Boxes
// 03. Block Grid
// 04. Breadcrumbs
// 05. Buttons
// 06. Button Groups
// 07. Clearing
// 08. Dropdown
// 09. Dropdown Buttons
// 10. Flex Video
// 11. Forms
// 12. Icon Bar
// 13. Inline Lists
// 14. Joyride
// 15. Keystrokes
// 16. Labels
// 17. Magellan
// 18. Off-canvas
// 19. Orbit
// 20. Pagination
// 21. Panels
// 22. Pricing Tables
// 23. Progress Bar
// 24. Range Slider
// 25. Reveal
// 26. Side Nav
// 27. Split Buttons
// 28. Sub Nav
// 29. Switch
// 30. Tables
// 31. Tabs
// 32. Thumbnails
// 33. Tooltips
// 34. Top Bar
// 36. Visibility Classes


// - - - - - - - - - - - - - - - - - - - - - - - - -
// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

@import "foundation/scss/foundation/functions";

// These are defined here in pixel values in order to keep compass from showing warnings in the grunt build
$base-font-size: 14px; // Browser default
$base-line-height: 24px; // Browser default

// Foundation rem-base
$rem-base: $base-font-size;


// - - - - - - - - - - - - - - - - - - - - - - - - -
// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Open Sans Font - Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// Font Awesome font path
$fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts"; // for referencing Bootstrap CDN font files directly

// Default font stacks
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

// Helper colors
$white: #ffffff;
$white-dark: darken($white, 20%);
$black: #000000;

// Default colors
$primary-color: #E21F26;											// Super Red
$alert-color: #E21F26;												// Super Red
$alert-color-dark: #9C2521;											// Candy Apple
$warning-color: #eab545;											// Warning - Marigold
$warning-color-light: lighten($warning-color, 30%);					// Warning Light - Highlight
$warning-color-dark: darken($warning-color, 10%);					// Warning Dark - Mustard
$disabled-color: #e6ecef;											// Disabled - Concrete
$disabled-color-light: lighten($disabled-color, 5%);				// Disabled Light - Steel
$disabled-color-mid: darken($disabled-color, 15%);					// Disabled Mid - Slate
$disabled-color-dark: darken($disabled-color-mid, 30%);				// Disabled Dark - Stone

// Border radius
$global-radius: 4px;


// - - - - - - - - - - - - - - - - - - - - - - - - -
// e. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Paragraphs
$paragraph-font-size: rem-calc(14);