// - - - - - - - - - - - - - - - - - - - - - - - - -
// Browse Happy
// - - - - - - - - - - - - - - - - - - - - - - - - -

.browsehappy {
	margin: 0.2em 0;
	background: $iron;
	color: $black;
	padding: 0.2em 0;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Miscellaneous
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Margins
.no-margin-bottom { margin-bottom: 0 !important; }
.tiny-margin-bottom { margin-bottom: rem-calc(5) !important; }
.small-margin-bottom { margin-bottom: rem-calc(10) !important; }
.medium-margin-bottom { margin-bottom: rem-calc(25) !important; }
.large-margin-bottom { margin-bottom: rem-calc(40) !important; }
.xlarge-margin-bottom { margin-bottom: rem-calc(55) !important; }
.no-margin-top { margin-top: 0 !important; }
.tiny-margin-top { margin-top: rem-calc(5) !important; }
.small-margin-top { margin-top: rem-calc(10) !important; }
.medium-margin-top { margin-top: rem-calc(25) !important; }
.large-margin-top { margin-top: rem-calc(40) !important; }
.xlarge-margin-top { margin-top: rem-calc(55) !important; }
.no-margin-side {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
// Radius
.top-radius { @include side-radius(top, $global-radius); }
.bottom-radius { @include side-radius(bottom, $global-radius); }
// Disabled divs
div[disabled] {
	color: $disabled-color-mid;
	h1, h2, h3, h4, h5, h6 { color: $disabled-color-mid; }
	a {
		color: $disabled-color-mid;
		&:hover {
			color: $white;
			background: $disabled-color-mid;
		}
	}
}
// Miscellaneous
.full-width { width: 100%; }
.overflow-visible { overflow: visible !important; }
.even, .odd {
	padding: $column-gutter / 2 $column-gutter / 2 0 $column-gutter / 2;
	background: $disabled-color !important;
}
.odd { background: $white-dark !important; }
.super-highlight { background: $warning-color-light; }
.inline-item {
	margin-right: rem-calc(40);
	white-space: nowrap;
}
.position-relative { position: relative; }
.row-squeeze {
	margin-left: $column-gutter / 2 !important;
	margin-right: $column-gutter / 2 !important;
}
.clickable { cursor: pointer; }


// - - - - - - - - - - - - - - - - - - - - - - - - -
// HTML and Body
// - - - - - - - - - - - - - - - - - - - - - - - - -

html { overflow-x: hidden !important; }
body {
	background: $primary-color url('../assets/images/background.png') no-repeat top center;
	background-size: auto 100%;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

button, .button {
	outline: none;
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Icons
// - - - - - - - - - - - - - - - - - - - - - - - - -

.special-icon {
	padding: rem-calc(20);
	@include border-radius($global-rounded);
	&.contact-us { background: lighten(#292E6D, 5%); }
	&.success { background: green; }
	&.alert {
		padding: rem-calc(20) rem-calc(26);
		background: $primary-color;
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Images
// - - - - - - - - - - - - - - - - - - - - - - - - -

.content-image-right {
	margin-bottom: rem-calc(20);
	margin-left: rem-calc(50);
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Skills
// - - - - - - - - - - - - - - - - - - - - - - - - -

.skill-list {
	margin: 0;
	li {
		display: inline-block;
		white-space: nowrap;
		line-height: 3;
		.skill-pill {
			margin-right: rem-calc(10);
			margin-bottom: rem-calc(10);
			padding: rem-calc(6) rem-calc(10);
			background: lighten(#82A0D4, 3%);
			@include border-radius($global-radius);
		}
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Image gallery - Thumbs
// - - - - - - - - - - - - - - - - - - - - - - - - -

.thumb-container {
	&:hover {
		.thumb-graphic .thumb-overlay { opacity: .75; }
		.thumb-graphic .thumb-icon { opacity: 1; }
	}
	.thumb-graphic {
		position: relative;
		img {
			z-index: 10;
			position: relative;
			width: 100%;
			height: 100%;
		}
		.thumb-overlay {
			z-index: 20;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $primary-color;
			opacity: 0;
			@include transition(opacity 300ms ease-out);
		}
		.thumb-icon {
			z-index: 30;
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 40px;
			height: 40px;
			padding: 6px 0 0 6px;
			background: black;
			opacity: 0;
			@include border-radius(1000px);
			@include transition(opacity 300ms ease-out);
		}
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Pagination
// - - - - - - - - - - - - - - - - - - - - - - - - -

.pagination {
	padding: rem-calc(14) rem-calc(10) rem-calc(6) rem-calc(10);
	@include border-radius($global-radius);
	.fa {
		cursor: pointer;
		font-size: rem-calc(20);
		@include transition(color 450ms ease-out);
		&.fa-times-circle-o {
			margin-top: rem-calc(-1);
			font-size: rem-calc(25);
		}
	}
	span { cursor: default; }
	&.our-work {
		background: lighten(#3C4B92, 3%);
		.fa {
			color: lighten(#3C4B92, 25%);
			&:hover { color: lighten(#3C4B92, 50%); }
		}
	}
	&.who-we-are {
		background: lighten(#82A0D4, 3%);
		.fa {
			color: lighten(#82A0D4, 25%);
			&:hover { color: lighten(#82A0D4, 50%); }
		}
	}
}


// - - - - - - - - - - - - - - - - - - - - - - - - -
// Special content
// - - - - - - - - - - - - - - - - - - - - - - - - -

.special-content {
	padding: rem-calc(14) rem-calc(20) rem-calc(10) rem-calc(20);
	@include border-radius($global-radius);
	&.our-work { background: lighten(#3C4B92, 3%); }
	&.who-we-are { background: lighten(#82A0D4, 3%); }
}