<div class="content" contact-us>
	<div class="row">
		<div class="medium-12 columns">
			<h5 class="large-margin-bottom">CONTACT US</h5>
		</div>
	</div>
	<div class="row">
		<div class="medium-6 columns large-margin-bottom">
			<h4 class="medium-margin-bottom"><i class="fa icon-phone fa-lg"></i>&nbsp;&nbsp;&nbsp;<a href="tel:18037921043">+1-803-792-1043</a></h4>
			<p>GENERAL INQUIRIES<br /><a href="mailto:info@designchanged.us">info@designchanged.us</a></p>
			<p>SUPPORT REQUESTS<br /><a href="mailto:info@designchanged.us">support@designchanged.us</a></p>
			<p>ACCOUNTS INQUIRIES<br /><a href="mailto:info@designchanged.us">accounts@designchanged.us</a></p>
		</div>
		<div class="medium-6 columns">
			<h4 class="medium-margin-bottom"><i class="fa icon-devices fa-lg"></i>&nbsp;&nbsp;&nbsp;Send Us a Message.</h4>
			<dynamic-form class="row" name="contact.form.data" ng-model="contact.form.model" template="contact.form.template" novalidate ng-submit="contact.send.exec()"></dynamic-form>
		</div>
	</div>
</div>