<div our-work>
	<div class="row">
		<div class="medium-12 columns">
			<h5 class="large-margin-bottom">OUR WORK</h5>
		</div>
	</div>
	<div class="row" vertilize-container>
		<div class="medium-4 columns thumb-container clickable medium-margin-bottom" ng-repeat="item in work.data" ng-class="{ end: $index === work.data.length - 1 }">
			<div class="thumb-graphic">
				<img ng-src="{{item.thumb}}" alt="{{item.client}}" />
				<div class="thumb-overlay">&nbsp;</div>
				<div class="thumb-icon">
					<i class="fa icon-link fa-2x"></i>
				</div>
			</div>
			<div class="thumb-header medium-margin-top text-center" vertilize>
				<p class="no-margin-bottom" ng-bind="item.client"></p>
				<p><small ng-bind="item.skills"></small></p>
			</div>
		</div>
	</div>
</div>