// - - - - - - - - - - - - - - - - - - - - - - - - -
// Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Labels
label {
	color: white;
	.input-type-icon {
		margin-left: rem-calc(10);
		margin-right: rem-calc(10);
		color: $alert-color;
		font-size: 80%;
	}
}

// Inputs
#{text-inputs(all, 'input')} {
	margin: 0 0 rem-calc(16) 0;
	padding: rem-calc(16) / 2;
	height: (rem-calc(13) + (rem-calc(16) * 1.5) - rem-calc(1));
	font-size: rem-calc(13);
	@include input-placeholder { color: $input-placeholder-font-color; }
	@include transition(background 0.15s linear, border 0.15s linear, color 0.15s linear);
}

// Inputs media queries
@media #{$medium-up} {
	#{text-inputs(all, 'input')} {
		margin: 0 0 $form-spacing 0;
		padding: $form-spacing / 2;
		height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1));
		font-size: $input-font-size;
	}
}

// Error messages
.error {
	input, textarea, select {
		margin-bottom: 0 !important;
		@include form-error-color($alert-color);
		@include input-placeholder { color: $alert-color; }
		@include side-radius('top', $global-radius !important);
		@include side-radius('bottom', 0 !important);
		&:focus { border-color: $alert-color; }
	}
	span.error {
		margin-bottom: rem-calc(16) !important;
		@include side-radius('bottom', $global-radius !important);
		& > span { margin-right: rem-calc(5); }
	}
}

// Textarea Character Count
.textarea-character-count {
	position: absolute;
	top: -3px;
	right: 0;
	z-index: 1000;
	padding: rem-calc(3) rem-calc(12) rem-calc(8) rem-calc(12);
	background: $white;
	font-size: rem-calc(12);
	color: $input-font-color;
	@include side-radius('top', $global-radius);
	@include transition(border-color $default-transition-duration ease-out);
	&.no-label { margin-top: rem-calc(-30); }
}
.focused {
	.textarea-character-count { border-color: $input-focus-border-color; }
}
.error {
	.textarea-character-count {
		background: #FDEDEC;
		color: $alert-color;
		@include transition(background $default-transition-duration ease-out);
	}
	&.focused .textarea-character-count { background: $input-focus-bg-color; }
}