// - - - - - - - - - - - - - - - - - - - - - - - - -
// Navigation
// - - - - - - - - - - - - - - - - - - - - - - - - -

.nav-panel {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 270px;
	height: 100%;
	background: transparent;
	color: $white;
	@include transition(left 450ms ease-out);
	&.move-right {
		left: 100%;
		margin-left: -90px;
	}
	.element {
		position: relative;
		z-index: 120;
		left: -270px;
		display: block;
		width: 100%;
		// height: 90px;						* Will be set by the AngularJS Directive
		background: $primary-color;
		cursor: pointer;
		outline: none;
		&.who-we-are { background: #82A0D4; }
		&.our-work { background: #3C4B92; }
		&.contact-us { background: #292E6D; }
		&.move-right { left: -180px; }
		&.move-right-again { left: 0; }
		@include transition(background 450ms ease-out, left 450ms ease-out);
		&.nav-menu-button {
			left: 0;
			width: 90px;
			background: transparent;
			&:hover, &.active { background: $alert-color-dark; }
			.hamburger {
				position: absolute;
				z-index: 110;
				// top: 45px;					* Will be set by the AngularJS Directive
				left: 45px;
				width: 40px;
				margin-top: -16px;
				margin-left: -20px;
				.line {
					position: relative;
					z-index: 110;
					top: 0;
					width: 100%;
					height: 4px;
					margin: rem-calc(5) 0;
					background: $white;
					transform-origin: center center;
					@include transition(all 400ms ease-out);
				}
				&.close {
					.line:nth-child(1) {
						top: 9px;
						@include rotate(45deg);
					}
					.line:nth-child(2) { opacity: 0; }
					.line:nth-child(3) {
						top: -9px;
						@include rotate(-45deg);
					}
				}
			}
			i.icon-chevron-left {
				margin-top: -28px;
				margin-left: -28px;
				font-size: 56px !important;
			}
		}
		.text {
			position: relative;
			// top: 45px;						* Will be set by the AngularJS Directive
			float: left;
			display: inline;
			width: 180px;
			margin-top: -12px;
			padding-left: 25px;
		}
		.icon {
			position: relative;
			float: left;
			display: inline;
			width: 90px;
			i {
				position: absolute;
				// top: 45px;					* Will be set by the AngularJS Directive
				left: 45px;
				margin-top: -16px;
				margin-left: -16px;
				font-size: 32px !important;
			}
		}
	}
}
.nav-main {
	position: absolute;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-left: -90px;
	background: $alert-color-dark url('../assets/images/changed-logo-background.png') no-repeat 80px 0px;
	@include transition(background 450ms ease-out, left 450ms ease-out);
	&.collapsed { left: -100%; }
	&.who-we-are { background-color: #82A0D4; }
	&.our-work { background-color: #3C4B92; }
	&.contact-us { background-color: #292E6D; }
	.content {
		float: left;
		width: 100%;
		min-height: 100%;
		padding: 45px 45px 90px 135px;
		color: $white;
		h1, h2, h3, h4, h5, h6 {
			color: $white;
			a { opacity: 1 !important; }
		}
		a {
			color: $white;
			opacity: .65;
			&:hover {
				color: $white;
				opacity: 1;
			}
		}
		// Image gallery
		.thumb-container {
			&:hover {
				.thumb-graphic .thumb-overlay { opacity: .75; }
				.thumb-graphic .thumb-icon { opacity: 1; }
			}
			.thumb-graphic {
				position: relative;
				img {
					z-index: 10;
					position: relative;
				}
				.thumb-overlay {
					z-index: 20;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $primary-color;
					opacity: 0;
					@include transition(opacity 300ms ease-out);
				}
				.thumb-icon {
					z-index: 30;
					position: absolute;
					bottom: 10px;
					right: 10px;
					width: 40px;
					height: 40px;
					padding: 6px 0 0 6px;
					background: black;
					opacity: 0;
					@include border-radius(1000px);
					@include transition(opacity 300ms ease-out);
				}
			}
		}
	}
}

// Navigation media queries
@media #{$large-up} {
	.nav-main .content {
		float: right;
		width: 40%;
		padding: 90px 90px 180px 180px;
	}
}
@media #{$medium-up} {
	.nav-main .content {
		float: right;
		width: 70%;
		padding: 90px 90px 180px 180px;
	}
}